@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
body {
  color: #2b0836;
  background-color: #e2b8f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1em;
}
header {
  font-family: Parisienne;
  font-weight: normal;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  width: 95%;
  height: 60px;
  text-align: center;
}
footer {
  width: 95%;
  font-weight: lighter;
  font-size: 12px;
  padding: 20px;
  border: 1px;
  border-style: dashed;
  border-color: #714083;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
nav {
  background-color: #2b0836;
  color: #e2b8f1;
  font-family: Parisienne;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #714083;
  border-radius: 30px;
  margin: 0 auto;
  width: 95%;
  height: 22px;
  text-align: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
}
p {
  margin-left: 2%;
  margin-bottom: 2%;
}

.nav-li {
  display: inline;
  margin: 0px auto;
  margin-right: 50px;
  text-align: center;
}
a:hover {
  color: #714083;
}
a {
  text-decoration: none;
  padding-right: 10px;
  color: inherit;
}
a:hover {
  color: #714083;
}
.container {
  width: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  border-style: dashed;
  border-radius: 30px;
  border-color: #714083;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.box-1 {
  background-color: #2b0836;
  color: #e2b8f1;
  font-family: Parisienne;
  font-weight: normal;
  font-size: 28px;
  width: 30%;
  padding: 7px;
  border: 2px;
  border-style: solid;
  border-color: #714083;
  border-radius: 20px;
  margin-bottom: 10px;
}
.box-2 {
  font-weight: lighter;
  font-size: 12px;
}
.quotes {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
  padding-left: 10px;
}
.author {
  font-weight: lighter;
  font-size: 12px;
  font-style: normal;
  padding-left: 30px;
}

.image {
  border: 1px dashed #714083;
  padding: 3px;
  border-radius: 15px;
  margin: 20px;
}
.image-index {
  display: block;
  margin: 0px auto;
  width: 60%;
}
.image-center {
  display: block;
  margin: 0px auto;
  width: 200px;
}

/*.my-form {
  padding: 10px;
}
.my-form input [type="text"] {
  padding: 8px;
  width: 25%;
}
*/
/*.formgroup {
  padding-left: 50px;
}
*/
.my-form textarea {
  padding: 8px;
  width: 40%;
}
.my-form label {
  display: block;
}
.button {
  background-color: #2b0836;
  color: #e2b8f1;
  padding: 10px 15px;
  border: none;
  font-weight: lighter;
  font-size: 12px;
}
.button:hover {
  background-color: #e2b8f1;
  color: #2b0836;
  border-style: dashed;
  border-color: #2b0836;
  font-weight: lighter;
  font-size: 12px;
}

/* MEDIA QUERIES */

/* MOBILE*/
@media (max-width: 768px) {
  body {
    background-color: #c3c3c3;
    color: #373737;
    font-size: 24px;
  }
  header {
    font-size: 40px;
  }
  footer {
    font-size: 16px;
  }
  .box-1 {
    background-color: #373737;
    color: #c3c3c3;
    border-color: #8e8e8e;
    width: 50%;
  }
  .box-2 {
    font-size: 16px;
  }
  .container {
    border-color: #8e8e8e;
  }
  nav {
    background-color: #373737;
    color: #c3c3c3;
    border-color: #8e8e8e;
    height: 70px;
    font-size: 30px;
  }
  .image {
    border: 1px dashed #8e8e8e;
  }
}

/*DESKTOP*/
@media (min-width: 1024px) {
  body {
    background-color: #e2b8f1;
    color: #2b0836;
    font-size: 16px;
    line-height: 1em;
  }
  .box-2 {
    font-size: 12px;
  }
}
